*{
    font-family: 'Roboto', sans-serif;
}
/*shortcuts*/
:root{
    --txt-1:#192F59;
    --white:#FFFFFF;
}
.txt-1{
    color: #192F59;
}


/* adjusting carousel */
.c-item{
    height: 600px;
}

.c-img{
    height: 100%;
    object-fit: cover;
}

.what-we-offer{
    height: 200vh;
    width: 100%;
    background-color: #FFFFFF;

}
.wide-card{
    height: 157px;
    width: 100%;
    background-color: #FFFFFF;
}
.card{
    height: 100%;
    background-color: #FFFFFF;
}
.card .icon{
    height: 40px;
    width: 40px;
}
.card .icon img{
    height: 100%;
    width: 100%;
}
.card .txt .s1{
    color:#192F59;
}
.card .txt .s2{
    color:#B9B9B9;
    ;
}